body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: white;
  background-image: url(/flowfood/projeto/imagens/background-pattern.jpg);
  background-size: cover;
}

.main-header {
  padding: 5px;
}

.logo img {
  margin-left: 55px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 0px 0px 20px 0px;
  background-color: #1e1e1e;
  color: #fff;
  z-index: 1000;
}

.mobile-menu ul {
  list-style-type: none;
  padding: 0;
}

.mobile-menu ul li {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
}

.mobile-menu.visible {
  display: block;
}

.menu-toggle {
  font-weight: bold;
  display: none;
  background-color: #e5940e;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-toggle:hover {
  background-color: #bb7a10;
}

.close-menu {
  font-weight: bold;
  background-color: #e5940e;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 92px;
  left: 0;
  width: 179px;
  height: 100%;
  padding-top: 25px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 20px;
}

.nav-button {
  width: 100%;
  padding: 10px 15px;
  background-color: #bb7a10;
  color: white;
  border: none;
  border-radius: 0px 20px 20px 0px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #e5940e;
}

.nav-button.active {
  background-color: #e5940e;
}

.nav-button:focus {
  outline: none;
}

/* Main Content */
.main-content {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: 10px;
  margin-left: 190px;
  padding: 10px;
  background-color: #e5940e;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 20px #000000;
}

/* Flexbox Teste */
.flexbox-teste {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  max-height: 100%;
  justify-content: 10px;
  padding: 0px;
  background-color: #e5940e;
}
.in-nova-reserva input {
  border-radius: 8px;
  border: none;
}
.nova-reserva {
  flex: 1 1 40%;
  margin: 10px;
  width: 90%;
  min-height: 340px;
  border-radius: 10px;
  background: #c8c8c8;
}
.in-nova-reserva {
  margin: 10px;
  min-height: 190px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #a8a8a8;
  width: 95%;
}

.label-reserva-input {
  font-size: 23px;
  font-weight: bold;
  margin: 10px;
  color: #000000;
}

.flexbox-reserva {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: 10px;
  padding: 10px;
}
#quantia-reservas-agendadas,
#quantia-reservas-confirmadas,
#quantia-reservas-concluidas,
#quantia-reservas-canceladas,
#quantia-reservas-total {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  color: #000000;
}

.reserva-agendada,
.reserva-confirmada,
.reserva-concluida,
.reserva-cancelada,
.total-reservas {
  flex: 1 1 40%;
  margin: 10px;
  overflow: hidden;
  width: 100%;
  min-height: 340px;
  max-height: 550px;
  border-radius: 10px;
  background: #c8c8c8;
}

.reservas-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
  min-height: 340px;
  max-height: 500px;
}
.total-reservas {
  max-height: 340px;
  text-align: center;
}
.total-reservas .reservas-container {
  padding-top: 20px;
  max-height: 120px;
}

.in-reservas {
  overflow-y: auto;
  margin: 10px;
  width: calc(50% - 50px);
  height: auto;
  border-radius: 10px;
  background: #a8a8a8;
  padding: 10px;
}

#botao-editar,
#botao-atualizar,
#botao-adicionar {
  background: #3d3c3c;
  color: white;
  padding: 5px 10px;
  border-radius: 0.4em;
  cursor: pointer;
  margin: 0.8em 0.9em;
  transition: background-color 0.3s;
}

#botao-editar:active,
#botao-atualizar:active,
#botao-adicionar:active {
  transform: translate(0.05em, 0.05em);
}

#botao-editar:hover {
  transform: translate(-0.05em, -0.05em);
  background-color: #138496;
}
#botao-atualizar:hover {
  transform: translate(-0.05em, -0.05em);
  background-color: #e5940e;
}
#botao-adicionar:hover {
  transform: translate(-0.05em, -0.05em);
  background-color: #e5940e;
}

.texto-box {
  margin: 10px;
  color: #000000;
  font-size: 24px;
}

.titulo-box {
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  color: #000000;
}

.button-action {
  margin: 10px;
  padding: 5px 10px;
  background-color: #bb7a10;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button-action:hover {
  background-color: #bb7a10;
}

.main-footer {
  justify-content: space-between;
  margin-top: 40px;
  height: 100%;
  background-color: #0f0f0f;
  flex-direction: row;
  display: flex;
  padding: 20px;
  opacity: 80%;
}

.footer-content-left {
  margin-right: 10px;
  padding-right: 250px;
  display: block;
  flex-direction: column;
}

.footer-content-center {
  display: block;
  justify-content: center;
  flex-direction: column;
}

.footer-content-right {
  margin-left: 10px;
  padding-left: 250px;
  display: block;
  flex-direction: column;
}

.footer-logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

::-webkit-scrollbar {
  width: 15px;
  border-radius: 0 6px 6px 0;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  padding: 10px;
  background-color: #bb7a10;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e;
  border-radius: 6px;
}

@media (max-width: 1200px) {
  .main-content {
    margin-left: 0;
    padding: 10px;
  }

  .sidebar {
    width: 150px;
  }

  .logo img {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    padding: 10px;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: static;
  }

  .nav-button {
    border-radius: 20px;
  }

  .flexbox-teste {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .titulo-box {
    font-size: 24px;
  }
}

@media screen and (max-width: 1200px) {
  .menu-toggle {
    display: block;
  }

  .sidebar {
    display: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .logo img {
    display: none;
  }
}

@media screen and (max-width: 1324px) {
  .sidebar {
    width: 15%;
  }
}
